footer.footer{
    padding:20px 0 20px 0;
}.facebook{
    background:#3b5998;
    margin-top: 5px;
}.google{
    background:#dd4b39;
}.github{
    background:#333333;
}.envelope{
    background: #34A853;
}.facebook:hover{
    background:#3b5998;
    transition:all .5s ease-out 0s;
}.linkedin:hover{
    background:#007bb5;
    transition:all .5s ease-out 0s;
}.google:hover{
    background:#dd4b39;
    transition:all .5s ease-out 0s;
}.github:hover{
    background:#333333;
    transition:all .5s ease-out 0s;
}.envelope:hover{
    background:#34A853;
    transition:all .5s ease-out 0s;
}
.social a{
    background:#c6c8cf;
    color:#fff;padding:0;
    margin:0px 4px 6px 4px;
    border-radius:100%;
    display:inline-block;
    width:28px;height:27px;
}.social a i{
    font-size:.8em;
}